body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(189, 189, 189);
}

.UI {
    vertical-align: middle;
    width: 20%;
    display: inline-block;
    position: fixed;
}
.UI h1, .main h1 {
    font-size: 12mm;
    text-align: center;
    -webkit-text-fill-color: rgba(0,0,0,0);
    -webkit-text-stroke: 2px black;
    text-shadow: 2px 2px 0 black;
}

.UI .Pagelinks {
    width: 80%;
    margin: auto;
}
.Pagelinks ul {
    padding: 0;
}
.Pagelinks li {
    font-size: larger;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5%;
    text-align: center;
    transition: all 0.2s;
    margin: 5% 0;
}
.Pagelinks li:hover, .Pagelinks .active {
    box-shadow: 4px 4px 0 black;
}

.wrapper {
    margin: 10%;
    width: 40%;
    padding: 0.5%;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-radius: 35px;
    float: inline-end;
    box-shadow: 4px 4px 0 black;
    transition: all 0.2s;
}
.wrapper:hover {
    box-shadow: 8px 8px 0 black;
}

.sona {
    position: absolute;
    right: 490px;
    top: 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    filter: drop-shadow(4px 4px 0 black);
}

.main {
    margin: auto;
    border: 1px solid black;
    border-radius: 25px;
    padding: 5%;
}
p {
    font-size: large;
}

.main a {
    text-decoration: none;
}
.main a:hover {
    font-weight: bold;
}

.info {
    columns: 2;
    list-style-type: none;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.star {
    columns: 3;
    list-style-type: "★ ";
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    font-size: larger;
}

.skills {
    columns: 3;
    list-style-type: "➤ ";
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}