:root {
    --white-color: #fff;
    --blue-color: #A1CBC3;
    --yellow-color: #FCBE5A;
    --red-color: #ED773F;
    --black-color: #3B3434;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(135deg, var(--white-color) 0%, var(--white-color) 9.99%, var(--blue-color) 10%, var(--blue-color) 19.99%, var(--yellow-color) 20%, var(--yellow-color) 29.99%, var(--red-color) 30%, var(--red-color) 39.99%, var(--black-color) 40%, var(--black-color) 49.99%,
    var(--white-color) 50%, var(--white-color) 59.99%, var(--blue-color) 60%, var(--blue-color) 69.99%, var(--yellow-color) 70%, var(--yellow-color) 79.99%, var(--red-color) 80%, var(--red-color) 89.99%, var(--black-color) 90% );
    background-size: 330%;
    animation: colorBg 30s linear infinite;
    
}

::-moz-selection {
    background-color: var(--red-color);
}

::selection {
    background-color: var(--red-color);
}

.UI {
    vertical-align: middle;
    width: 20%;
    display: inline-block;
    position: fixed;
}

.UI h1 {
    font-size: 12mm;
    text-align: center;
    -webkit-text-fill-color: rgba(0,0,0,0);
    -webkit-text-stroke: 2px var(--black-color);
    text-shadow: 2px 2px 0 var(--black-color);
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 25px;
    width: 40%;
    margin: 5% auto;
}

.main h1, .main2 h1 {
    font-size: 12mm;
    text-align: center;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-shadow: 2px 2px 0 rgb(255, 255, 255);
}

.UI .Pagelinks {
    width: 80%;
    margin: auto;
}
.Pagelinks a {
    text-decoration: none;
}
.Pagelinks ul {
    padding: 0;
}
.Pagelinks li {
    color:var(--black-color);
    font-size: larger;
    list-style-type: none;
    border-right: 3px solid var(--black-color);
    border-bottom: 3px solid var(--black-color);
    outline: 2px solid var(--blue-color);
    background-color: var(--yellow-color);
    border-radius: 25px;
    padding: 5%;
    text-align: center;
    transition: all 0.2s;
    margin: 5% 0;
    position: relative;
}
.Pagelinks li:hover, .Pagelinks .active {
    box-shadow: 4px 4px 0 rgb(255, 255, 255);
    background-color: var(--black-color);
    color: var(--white-color);
    outline: 2px solid var(--red-color);
    border-right: 3px solid var(--yellow-color);
    border-bottom: 3px solid var(--yellow-color);
}
.Pagelinks li:hover {
    animation: shake 0.3s;
}

.sparkle {
    position: absolute;
    scale: 4;
    top: 10px;
    animation: sparkleSpin 1s alternate-reverse infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 57%;
    text-shadow: 0.8px 0.8px 0 var(--red-color);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.wrapper {
    margin: 2% 10%;
    width: 60%;
    padding: 0.5%;
    color: var(--white-color);
    background-color: rgba(0,0,0,0.8);
    border: 1px solid rgb(255, 255, 255);
    border-top: none;
    border-left: none;
    border-radius: 35px;
    float: inline-end;
    box-shadow: 4px 4px 0 rgb(255, 255, 255);
    transition: all 0.2s;
    position: relative;
}
.wrapper:hover {
    box-shadow: 8px 8px 0 rgb(255, 255, 255);
}

.wrapper a {
    color: var(--yellow-color);
}
.wrapper a:visited {
    color: var(--red-color);
}

.main {
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    padding: 5%;
}
.main2 {
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
}
p {
    font-size: large;
}

.main a {
    text-decoration: none;
}
.main a:hover {
    font-weight: bold;
}

.info {
    columns: 2;
    list-style-type: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 10px;
}

.star {
    columns: 3;
    list-style-type: "★ ";
    text-decoration: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 15px;
    font-size: larger;
}

.skills {
    columns: 3;
    list-style-type: "➤ ";
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 10px;
}

.buttons ul {
    margin: 0;
    padding: 0;
}

.buttons li {
    background-color: #3B3434;
    width: 70%;
    text-align: center;
    margin: 4% auto 0 auto;
    list-style-type: none;
    padding: 2%;
    border: 1px solid var(--blue-color);
    box-shadow: 2px 2px 0 var(--red-color);
    border-radius: 25px;
    font-weight: bold;
}

.buttons li:hover {
    background-color: var(--red-color);
    color: var(--black-color);
    box-shadow: 2px 2px 0 var(--yellow-color);
    animation: shake 0.2s;
}

.gallery {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    float: right;
    margin: 1% 11%;
}
.gallery figure {
    padding: 0;
    margin: auto;
    height: 400px;
    width: 50%;
    position: relative;
}
.gallery figcaption {
    position: absolute;
    top: 90%;
    right: 5%;
    transition: all 0.2s;
    color: var(--white-color);
    background-color: rgba(0,0,0,0.6);
    padding: 0.5% 1%;
    border-radius: 25px;
}
.gallery img {
    height: 400px;
    width: 100%;
    object-fit: cover;
    scale: 0.95;
    transition: all 0.2s;
    border-radius: 10px;
    box-shadow: 5px 5px 0 var(--black-color);
}

.gallery img:hover {
    scale: 1;
    box-shadow: none;
    animation: imageScroll 6s alternate-reverse infinite ease-in-out;
}

@keyframes shake {
    25% {transform: rotate(-2deg);}
    50% {transform: rotate(2deg);}
    75% {transform: rotate(0);}
}
@keyframes colorBg {
    0% {background-position: 0%;}
    100% {background-position: 99%;}
}
@keyframes sparkleSpin {
    0% {transform: rotate(-45deg);}
    100% {transform: rotate(45deg);}
}
@keyframes imageScroll {
    0% {object-position: bottom right;}
    100% {object-position: top left;}
}

@media (max-width: 1000px) {
    .UI {
        width: 100%;
        float: none;
        position: relative;
    }
    
    .wrapper {
        width: 90%;
        margin: auto;
        float: none;
    }
    .wrapper ul {
        columns: 1;
    }
    .wrapper li {
        padding-bottom: 4%;
    }

    .buttons li {
        width: 90%;
        padding: 4%;
    }

    .gallery {
        width: 100%;
        margin: 2% auto;
    }
}